
// Variables
$light: #fff;
$body-color: #f6f8fa;
$primary-color: #f95669;
$secondary-color: #fff;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#ebe9e9;
$primary-font:'Lato', sans-serif;
$secondary-font:'Lato', sans-serif;
$text-color: #222222;
$gray: #c7c7c7;
$dark-gray: #848484;
// $icon-font: 'themefisher-font';
