<footer class="footer section-sm w3-col m12 l12" style="position: relative; z-index: 1">
    <!-- Container Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <!-- About -->
                <div class="block">
                    <!-- footer logo -->
                    <ul class="nav justify-content-start top-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">서비스안내</a>
                        </li>
                        <li class="nav-item" style="vertical-align: middle">
                            <a class="nav-link" href="#">ONESTUDY 이용약관</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">개인정보처리방침</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-4 col-md-5">
                <div class="block">
                    <ul class="nav justify-content-end top-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="img/footer/f_01.png"> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="img/footer/f_02.png"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="img/footer/f_03.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- footer detail -->
            <div class="col-lg-8 col-md-7">
                <div class="block">
                    <ul class="nav justify-content-start top-menu">
                        <li class="">
                            <a class="nav-content">· (주)픽셀아이 &emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-content">· 대표자 : 김영수 대표 &emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-content">· 사업자 등록번호 : 123 456 78950</a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-start top-menu" style="margin-top: -8px">
                        <li class="nav-item">
                            <a class="nav-content">충북 청주시 서원구 충대로 1 충북대학교 학연산공동기술연구원 579호 픽셀아이 &emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-content">개인정보관리책임자 : 김영수</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- App Link  -->
            <div class="col-lg-4 col-md-5">
                <div class="block">
                    <ul class="nav justify-content-end top-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="./img/apps/appstore.png" width="100px"> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="./img/apps/googleplay.png" width="100px"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Copylight  -->
            <div class="col-lg-8 col-md-7">
                <div class="block">
                    <ul class="nav justify-content-start top-menu">
                        <li class="nav-item">
                            <a class="nav-content">COPYRIGHTⓒ2018 ONESTUDY ALL RIGHT RESERVED.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
