/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Lato");


body {
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

p, li, input, select, button {
    font-family: "Lato", sans-serif;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 43px;
}

label {
    font-size: 18px;
    letter-spacing: 0;
    color: #848484;
    margin-top: 15px;
}

.nav-pills .nav-link {
    font-size: 16px;
}

@media (max-width: 480px) {
    .nav-pills .nav-link {
        font-size: 12px;
    }
}

.nav-pills.with-background .nav-item {
    margin-right: 10px;
}

.nav-pills.with-background .nav-item:last-child {
    margin-right: 0;
}

.nav-pills.with-background .nav-link {
    background: white;
    padding: 10px 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.nav-pills.with-background .nav-link:hover {
    color: #ff9933;
}

.nav-pills.with-background .nav-link.active {
    background: #ff9933;
    position: relative;
    transition: 0s;
}

.nav-pills.with-background .nav-link.active:hover {
    color: #fff;
}

.nav-pills.with-background .nav-link.active:after {
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff9933;
    clear: both;
    transition: all .2s ease-in 0s;
}

.nav-pills.transparent .nav-link {
    background: transparent;
    margin-bottom: 20px;
    color: #848484;
    font-size: 24px;
}

@media (max-width: 768px) {
    .nav-pills.transparent .nav-link {
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .nav-pills.transparent .nav-link {
        font-size: 12px;
    }
}

.nav-pills.transparent .nav-link.active {
    background: transparent;
    color: #222222;
}

/**
 *
 * Base Elements
 *
 */
body {
    background: #f6f8fa;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
}

p {
    color: #222222;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

a {
    transition: all .2s ease 0s;
    color: #222222;
}

iframe {
    border: 0;
}

a:focus, a:hover {
  text-decoration: underline;
  outline: 0;
  color: #ff8000; }

input[type="email"], input[type="password"], input[type="text"], input[type="tel"],input[type="number"] {
    border-radius: 3px;
    box-shadow: none;
    height: 50px;
    outline: none;
    font-weight: 200;
    font-size: 15px;
}

@media (max-width: 400px) {
    input[type="email"], input[type="password"], input[type="text"], input[type="tel"],input[type="number"] {
        height: 40px;
    }
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="tel"]:focus,input[type="number"]:focus,select:hover{
    box-shadow: none;
    border: 1px solid #ff9933;
}

select.form-control:focus{
  box-shadow: none;
  border: 1px solid #ff9933;
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
}

.form-control {
    background-color: transparent;
    color: #222222;
    box-shadow: none;
    border-radius: 4px;
    padding-left: 20px;
    letter-spacing: .05em;
    font-size: 15px;
}

.form-control:focus {
    color: #222222;
    box-shadow: none;
    border: 1px solid #f95669;
    background-color: transparent;
}

textarea.form-control {
    padding: 20px;
}

.form-control::-webkit-input-placeholder {
    color: #848484;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #848484;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #848484;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #848484;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #848484;
}

/* Microsoft Edge */
.mt-20 {
    margin-top: 20px;
}

.w-100 {
    width: 100%;
}

.margin-0 {
    margin: 0 !important;
}

button {
    cursor: pointer;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.bg-shadow {
    background-color: #fff;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

input {
    font-family: "Lato", sans-serif;
}


.footer {
    padding-top: 20px;
    background: #3C3E40;
}

.footer .block h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer .block.about {
    margin-top: -20px;
    margin-bottom: 25px;
}

.footer .block.about img {
    margin-bottom: 25px;
}

.footer .block.about p {
    line-height: 26px;
}

.footer .block.about a:hover {
    text-decoration: underline;
}

.footer .block ul li {
    margin-bottom: 10px;
}

.footer .block ul li a {
    display: block;
    font-size: 14px;
    color: #c7c7c7;
}

.footer .block ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer .block ul .nav-content:hover {
    color: #c7c7c7;
    text-decoration: none;
}

.footer .block ul.terms-list {
    margin-top: 10px;
}

.footer .block ul.terms-list li a {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .footer .block:last-child {
        margin-bottom: 30px;
    }
    .footer .col-lg-4{
        display: none;
    }
}

.footer .block-2 {
    padding: 18px 30px;
    background: #46484A;
    border-radius: 2px;
}

.footer .block-2.app-promotion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.footer .block-2.app-promotion p {
    margin-left: 20px;
    color: #fff;
}

.footer .block-2.discount-coupon p {
    color: #fff;
    margin-bottom: 0;
}

.footer .block-2.discount-coupon p a {
    color: #f95669;
}

.footer-bottom {
    position: relative;
    background: #363839;
    padding: 25px 0;
}

@media (max-width: 480px) {
    .footer-bottom {
        text-align: center;
    }
}

.footer-bottom .copyright p {
    color: #c7c7c7;
    margin-bottom: 0;
}

.footer-bottom .copyright p a {
    color: #c7c7c7;
}

.footer-bottom .copyright p a:hover {
    color: #f95669;
}

.footer-bottom .top-to {
    position: absolute;
    top: -50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-bottom .top-to a {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 50px;
    border-color: transparent transparent #363839 transparent;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-bottom .top-to a i {
    margin-top: 20px;
}

.footer-bottom .top-to a:hover {
    text-decoration: none;
}


.top-header{
    background-color: #ffffff;
}

.top-header ul.top-menu li.nav-item {
    padding: 5px 0;
}

.top-header ul.top-menu li.nav-item button {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.025em;
    padding: 0px 18px;
    border-right: 1px solid #d3d4d5;
}

.top-header ul.top-menu li.nav-item button span {
    margin-left: 0px;
}

.top-header ul.top-menu li.nav-item:last-child button {
    padding-right: 0;
    border-right: none;
}

.top-header ul.top-menu li.nav-item a {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.025em;
    padding: 0px 18px;
    border-right: 1px solid #d3d4d5;
}

.top-header ul.top-menu li.nav-item a span {
    margin-left: 0px;
}

.top-header ul.top-menu li.nav-item:last-child a {
    padding-right: 0;
    border-right: none;
}

.top-header ul.top-menu li.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.top-header ul.top-menu li.nav-item.dropdown .dropdown-menu .dropdown-item {
    padding: 10px;
}

.top-header .dropdown-item {
    border-right: none !important;
}


.main-nav {
    padding: 16px 0;
}

.main-nav .navbar-nav .nav-item.active .nav-link {
    color: #f95669;
}

.main-nav .navbar-nav .nav-item .nav-link {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    padding-left: 19px;
    padding-right: 19px;
}

@media (max-width: 768px) {
    .main-nav .navbar-nav .nav-item .nav-link {
        padding-left: 0px;
        padding-right: 09px;
    }
}

.main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 4px;
}

.main-nav .navbar-nav .nav-item .nav-link.dropdown-toggle {
    padding-right: 10px;
}

.main-nav .navbar-nav .nav-item .dropdown-toggle::after {
    border: none;
}

.main-nav .navbar-nav .nav-item.active .nav-link {
    color: #f95669;
}

.main-nav .navbar-nav .nav-item .dropdown-menu {
    border: 0;
    box-shadow: none;
}

@media (max-width: 768px) {
    .main-nav .navbar-nav .search {
        display: none;
    }
}

.main-nav .navbar-nav .search .nav-link i {
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #ff9933;
    border: 1px solid #ff9933;
    border-radius: 3px;
    text-align: center;
}

.main-nav .navbar-nav .search .input-group {
    width: 300px;
}

.main-nav .navbar-nav .search .input-group .input-group-addon {
    background: #ff9933;
    color: #fff;
    border: 1px solid #ff9933;
}

.main-nav .navbar-nav .search .input-group .input-group-addon i {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 991px) {
    .main-nav .dropdown-slide {
        position: static;
    }

    .main-nav .dropdown-slide .open > a, .main-nav .dropdown-slide .open > a:focus, .main-nav .dropdown-slide .open > a:hover {
        background: transparent;
    }

    .main-nav .dropdown-slide.full-width .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
    }

    .main-nav .dropdown-slide:hover .dropdown-menu {
        display: none;
        opacity: 1;
        display: block;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: visible;
        color: #777;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    .main-nav .dropdown-slide .dropdown-menu {
        margin-top: 0;
        border-radius: 0;
        opacity: 1;
        visibility: visible;
        position: absolute;
        padding: 15px;
        transition: .3s all;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
        transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
        transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    }
}

@media (min-width: 991px) and (max-width: 480px) {
    .main-nav .dropdown-slide .dropdown-menu {
        -webkit-transform: none;
        transform: none;
    }
}


.custom-toggler.navbar-toggler {
    border-color: #ff9933;
    background:#ff9933;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: auto;
}

.custom-toggler.navbar-toggler:focus {
    outline: 0 !important;
}

.custom-toggler.navbar-toggler .navbar-toggler-icon {
    font-size: 20px;
    color: #fff;
    width: auto;
    height: auto;
    vertical-align: top;
}

.dropdown-menu {
    padding: 0 15px 15px 15px;
    border-radius: 0;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-item:active {
    background: #f95669;
}

.dropdown-item {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 60px 10px 10px;
    text-transform: capitalize;
}

@media (max-width: 480px) {
    .navbar-toggleable-md > .container {
        margin-right: 0;
        margin-left: 0;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.navbar-nav.search-mobile .search {
    display: block;
}

.navbar-nav.search-mobile .search .search-icon {
    position: absolute;
    top: -57px;
    right: 43px;
}

.navbar-nav.search-mobile .search .dropdown-menu {
    position: absolute;
    padding: 15px 0 0 0;
    padding: 10px;
    border: 1px solid #ebe9e9;
}

@media (max-width: 400px) {
    .navbar-nav.search-mobile .search .dropdown-menu {
        padding: 10px;
    }
}

.navbar-nav.search-mobile .search .dropdown-menu .input-group {
    width: 240px;
    right: 0;
}

@media (min-width: 480px) {
    .navbar-nav.search-mobile .search .search-icon {
        right: 70px;
    }

    .navbar-nav.search-mobile .search .dropdown-menu {
        right: 66px;
    }
}

@media (min-width: 768px) {
    .navbar-nav.search-mobile .search .search-icon {
        right: 70px;
    }

    .navbar-nav.search-mobile .search .dropdown-menu {
        right: 66px;
    }

    .navbar-nav.search-mobile .search .dropdown-menu .input-group {
        width: 300px;
    }
}

@media (min-width: 991px) {
    .navbar-nav.search-mobile .search {
        display: none;
    }
}

.fill-logo-1 {
    fill: #f95669;
}

.fill-logo-2 {
    fill: #f95669;
}
.bg-light {
    background: #fff;
}

.Applyform{
  margin:83px 0;
}

.Applyform .applycomplete{
    height: 330px;
}

.Applyform h1{
  text-align:center;
}

.Applyform h5{
    text-align:center;
}

.Apply{
  width:38%;
  margin:auto;
  display:block;
  padding-top:10px;
}
@media (max-width: 1062px) {
    .Apply{
        width:50%;
    }
}

.Apply .row{
  width:100%;
  margin:0;
}
.Apply .row .form-control{
  background-color:#ffffff;
  margin:5px 0;
}

.Apply .row label {
    font-size: 18px;
}

@media (max-width: 768px) {
    .Apply .row label {
        font-size: 14px;
        padding-left:10px;
        padding-right:10px;
    }
    .Applyform .applycomplete{
        height: 380px;
    }
}
@media (max-width: 970px) and (min-width:768px) {
    .Apply .row label {
        font-size: 16px;
        padding-left:10px;
        padding-right:10px;
    }
    .Applyform .applycomplete{
        height: 350px;
    }
}

.Apply .row .gender{
  margin: 20px 0;
}
@media (max-width: 518px ) {
  .Applyform h1{
    font-size: 32px;
  }
  .Apply .row .gender{
    margin: 20px 0;
    width:20%;
  }
  .Applyform .applycomplete{
      height: 400px;
  }
}
/*
.Apply .row input[type=button]{
  border-radius:30px;
  color:#ffffff;
  height:40px;
  margin: 5px 10px 5px 10px;
  vertical-align: middle;
  background-color:#595959;
  border-style:none;
} */

.Apply input[type=submit]{
  width:150px;
  height:40px;
  border-radius:30px;
  color:#ffffff;
  background-color:#404040;
  border-style:none;
  font-size: 16px;
  margin:40px auto;
  display:block;
}
