

.store-coupon {
    padding: 30px 0;
}

.store-coupon .block {
    padding: 25px 30px 30px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeaea;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .store-coupon .block .media {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .store-coupon .block .media .image-content {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 30px;
    }
}

.store-coupon .block .media .media-body {
    margin: 0 75px;
    width: 100%;
}

.store-coupon .block .media .media-body h4 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.store-coupon .block .media .media-body ul li {
    font-weight: bold;
    font-size: 17px;
    padding: 0 15px;
    border-right: 1px solid #ebe9e9;
}

.store-coupon .block .media .media-body ul li:last-child {
    border: none;
}

.store-coupon .block .media .media-body ul li a {
    color: #ff9933;
}

.store-coupon .block .media .media-body p {
    font-size: 14px;
    line-height: 26px;
    color: #848484;
    letter-spacing: 0;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .store-coupon .block .media .media-body {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .store-coupon .block .media .media-body {
        margin: 0;
    }
}
/*-----------------------
-------master.html-------
-----------------------*/
@media (max-width: 768px) {
  #select_region,#select_region2,#field{
    margin-bottom:10px;
  }
}

.category-select{
    width: 100%;
    background-color:rgba(204, 204, 204,0.5);
    margin:auto;
    display: block;
}

.selects{
    margin:auto;
    padding:12px 0;
    width:90%;
}

.selects select{
    width: 16%;
    font-size: 14px;
    float: left;
    margin:auto 1%;
    background-color: white;
}

.selects select:focus{
    background-color: #ffffff;
}

.selects input[type=button]{
    display: inline-block;
    height: 35px;
    color:#fff;
    background-color:#663300;
    border-radius: 20px;
    margin: auto 0;
}

@media (max-width: 768px){
    .selects select{
        width: 47%
    }
    .selects ul{
        width: 50%;
        margin:auto;
        margin-bottom: 3%;
        display: block;
    }
}

.selects ul li{
    text-align: center;
    width: 100%;
    margin: 7.5px 0;
}

.selects ul li a{
    color:#ffffff;
    width: 100%;
    text-decoration: none;
}

.block-cnt{
    position: relative;
    margin-top: 30px;
}

.block-cnt ul{
    position: absolute;
    width:90%;
    display: block;
    margin-left:5%;
    margin-right:5%;
    top: 2.5%;
    text-align: center;
}

.block-cnt ul li{
    border-radius: 15px;
    background-color: rgb(255, 128, 0);
    width: 63px;
    padding:5px;
    color: #ffffff;
}

.cnt{
    background-color: white;
    width: 100%;
    overflow: auto;
}

.cnt_text{
    margin:auto;
    width: 90%;
    padding-bottom: 10px;
}

.cnt_text h5{
    padding-top: 38px;
    font-weight:550;
}

.cnt_text h5 a{
    text-decoration: none;
}

.cnt_text h5#student_inform{
    font-weight: 520;
    padding-top: 50px;
}

.cnt_text p{
    color:#8c8c8c;
    margin-bottom: 20px;
}

.cnt_text #master_term{
    font-weight: 600;
    clear:both;
}

.cnt_text #master_term #master_money{
    color: #ff8c1a;
    font-size: 23px;
}

.cnt_text span#study_maxnum{
    font-weight: 500;
    font-size: 20px;
}

.cnt_text span#study_num{
    color: #8c8c8c;
    font-size: 20px;
}

.cnt_text ul.study_state{
    bottom: 10px;
    top: 82%;
}

.cnt_text ul.study_state li{
    width: 80px;
}

/* .cnt_text ul.study_state li#gather{
    width: 80px;
    background-color: #ff9966;
} */

.cnt_text ul#new li{
    width: 80px;
    background-color: rgb(255, 128, 0);
}

.cnt_text ul.chat{
    top: 5%;
}

.cnt_text ul.chat li{
    border-radius: 20px;
    width: 57px;
}

.cnt_text ul.student_category{
    position: relative;
    display: inline-block;
}

.cnt_text ul.student_category li{
    background-color: #d9d9d9;
    font-size: 13px;
    margin:0 5px;
    padding:3px;
    float: left;
}

.cnt_text ul.student_category li {
    display: block;
}

.people-img{
    border-radius: 50%;
    width: 25%;
    background-color: white;
    position: absolute;
    right:37%;
    top:39%;
}
#googleMap{
  min-height: 890px;
  right: 0; top: 0;
}
.master_imgBackground{
  width:100%;
  height:200px;
}
@media (min-width: 1200px) and (max-width: 1450px) {
    .master_imgBackground{
      width:100%;
      height:110px;
    }

    .people-img {
        top:25%;
        right:32%;
        width: 35%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .people-img {
        top:25%;
        right:32%;
        width: 35%;
    }
    .cnt_text #master_term{
        float:right;
    }

    .cnt_text #master_term #master_money{
        color: #ff8c1a;
        font-size: 23px;
    }
    .cnt_text p{
        color:#8c8c8c;
        margin-bottom: 10px;
    }
    .cnt_text h5{
        padding-top: 20px;
    }
    .master_imgBackground{
      width:100%;
      height:130px;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    .people-img {
        top:37%;
    }
    /* #googleMap{
      min-height: 400px;
      background-color: #333;
      right:auto;
      top:auto;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      height:400px;
      width: 100%;
    } */
}

@media (min-width: 575px) and (max-width: 767px){
    .people-img {
        left:90px;
        right:90px;
    }

    /* #googleMap{
      min-height: 400px;
      background-color: #333;
      right:auto;
      top:auto;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      height:400px;
      width: 100%;
    } */
}

@media (max-width: 574px){
    .people-img{
        margin:auto;
        top:51%;
    }
    /* #googleMap{
      min-height: 250px;
      background-color: #333;
      right:auto;
      top:auto;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      height:250px;
      width: 100%;
    } */
}

@media (max-width: 380px){
    .people-img{
        margin:auto;
        top:47%;
    }
    /* #googleMap{
      min-height: 250px;
      background-color: #333;
      right:auto;
      top:auto;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      height:250px;
      width: 100%;
    } */
}

.people-img img{
    border-radius: 50%;
    display: block;
    margin:5% 5%;
}

/* editor */
.text_table,.text_table th,.text_table td{
  border:1px solid black;
}


.editor_cnt .title{
  float: left;
  text-align: center;
  padding:0 5px;
}
.editor_cnt .block{
  float:left;
  margin-bottom: 20px;
  min-height: 300px;
}

.editor_cnt .title h5,.editor_cnt .title h6{
  background-color: #5b2900;
  margin:0;
  border-radius: 5px 5px;
  color:#fff;
  line-height: 50px;
}


.review_star {
  text-align: center;
  margin-top: -10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.starrr i{
    color:#ff751a;
    font-size: 25px;
}


.commentcnt table tr td{
  padding-right: 12px;
  font-size: 16px;
}
.commentcnt table tr td i{
  font-size: 18px;
}
.comment_write{
  width:100%;
}

.review_star span{
  margin-right: 10px;
}
.review_star i{
  font-size: 30px;
}
/* Rating Star Widgets Style */
.rating-stars ul#stars {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul#stars > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul#stars > li.star > i.fas {
  font-size:2em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul#stars > li.star.hover > i.fas {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul#stars > li.star.selected > i.fas {
  color:#FF912C;
}

/* writeStudy Form style */
.registeration{
    border-top: 5px solid #ff9933;
    -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    margin-top: 100px;

}

.registerInner{
    margin: 15px;
}
.media-body input[type=text],input[type=number],input[type=date]{
    text-align: center;
}
#findbtn{
  border-radius:30px;
  color:#ffffff;
  height:40px;
  margin: 5px 10px 5px 10px;
  vertical-align: middle;
  background-color:gray;
  border-style:none;
}

.form-group{
    font-size: 17px;
    width: 90%;
    line-height: 15px;
    margin-bottom:35px;
    color:#595959;
}

.signbuttons{
    margin: 15px 0;
    background: #ff9933;
    border-radius: 10px;
    padding:10px;
    color:#ffffff;
    float:right;
    font-size: 15px;
    width:80px;

}

input{
    border: 1px solid rgba(0,0,0,.15) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

.headerSign{
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    width:100%;
}
.media-body .row {
  margin-bottom: 5px;
}
.darktext{
    font-weight: 700;
    /* color: #ff9933; */
    /* color:#737373; */
    color:#000;
    margin-right:5%;
    font-size: 18px;
    text-align:right;
    padding-right: 0;
}


/* Student.ejs style */

.overlay{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.7);
    transition:opacity 500ms;
    visibility: hidden;
    opacity : 0;
}
.overlay:target{
    visibility: visible;
    opacity:1;
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}


/* student.ejs css */
.modal-body{
  background-color:white;
}
