
.top-header{
    background-color: #ffffff;
}

.top-header ul.top-menu li.nav-item {
    padding: 5px 0;
}

.top-header ul.top-menu li.nav-item button {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.025em;
    padding: 0px 18px;
    border-right: 1px solid #d3d4d5;
}

.top-header ul.top-menu li.nav-item button span {
    margin-left: 0px;
}

.top-header ul.top-menu li.nav-item:last-child button {
    padding-right: 0;
    border-right: none;
}

.top-header ul.top-menu li.nav-item a {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.025em;
    padding: 0px 18px;
    border-right: 1px solid #d3d4d5;
}

.top-header ul.top-menu li.nav-item a span {
    margin-left: 0px;
}

.top-header ul.top-menu li.nav-item:last-child a {
    padding-right: 0;
    border-right: none;
}

.top-header ul.top-menu li.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.top-header ul.top-menu li.nav-item.dropdown .dropdown-menu .dropdown-item {
    padding: 10px;
}

.top-header .dropdown-item {
    border-right: none !important;
}

.main-nav {
    padding: 16px 0;
}

.main-nav .navbar-nav .nav-item.active .nav-link {
    color: #f95669;
}

.main-nav .navbar-nav .nav-item .nav-link {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    padding-left: 19px;
    padding-right: 19px;
}

@media (max-width: 768px) {
    .main-nav .navbar-nav .nav-item .nav-link {
        padding-left: 0px;
        padding-right: 09px;
        text-align: center;
        color:#fff;
    }
    .main-nav{
        padding-bottom: 0;
    }
    #navbarNavDropdown{
      background-color: #de7b26;
    }
}

.main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 4px;
}

.main-nav .navbar-nav .nav-item .nav-link.dropdown-toggle {
    padding-right: 10px;
}

.main-nav .navbar-nav .nav-item .dropdown-toggle::after {
    border: none;
}

.main-nav .navbar-nav .nav-item.active .nav-link {
    color: #f95669;
}

.main-nav .navbar-nav .nav-item .dropdown-menu {
    border: 0;
    box-shadow: none;
}

@media (max-width: 768px) {
    .main-nav .navbar-nav .search {
        display: none;
    }
}

.main-nav .navbar-nav .search .nav-link i {
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #ff9933;
    border: 1px solid #ff9933;
    border-radius: 3px;
    text-align: center;
}

.main-nav .navbar-nav .search .input-group {
    width: 300px;
}

.main-nav .navbar-nav .search .input-group .input-group-addon {
    background: #ff9933;
    color: #fff;
    border: 1px solid #ff9933;
}

.main-nav .navbar-nav .search .input-group .input-group-addon i {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 991px) {
    .main-nav .dropdown-slide {
        position: static;
    }

    .main-nav .dropdown-slide .open > a, .main-nav .dropdown-slide .open > a:focus, .main-nav .dropdown-slide .open > a:hover {
        background: transparent;
    }

    .main-nav .dropdown-slide.full-width .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
    }

    .main-nav .dropdown-slide:hover .dropdown-menu {
        display: none;
        opacity: 1;
        display: block;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: visible;
        color: #777;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    .main-nav .dropdown-slide .dropdown-menu {
        margin-top: 0;
        border-radius: 0;
        opacity: 1;
        visibility: visible;
        position: absolute;
        padding: 15px;
        transition: .3s all;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
        transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
        transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    }
}

@media (min-width: 991px) and (max-width: 480px) {
    .main-nav .dropdown-slide .dropdown-menu {
        -webkit-transform: none;
        transform: none;
    }
}

.custom-toggler.navbar-toggler {
    border-color: #ff9933;
    background:#ff9933;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: auto;
}

.custom-toggler.navbar-toggler:focus {
    outline: 0 !important;
}

.custom-toggler.navbar-toggler .navbar-toggler-icon {
    font-size: 20px;
    color: #fff;
    width: auto;
    height: auto;
    vertical-align: top;
}

.dropdown-menu {
    padding: 0 15px 15px 15px;
    border-radius: 0;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-item:active {
    background: #f95669;
}

.dropdown-item {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 60px 10px 10px;
    text-transform: capitalize;
}


.navbar-nav.search-mobile .search {
    display: block;
}

.navbar-nav.search-mobile .search .search-icon {
    position: absolute;
    top: -57px;
    right: 43px;
}

.navbar-nav.search-mobile .search .dropdown-menu {
    position: absolute;
    padding: 15px 0 0 0;
    padding: 10px;
    border: 1px solid #ebe9e9;
}

@media (max-width: 400px) {
    .navbar-nav.search-mobile .search .dropdown-menu {
        padding: 10px;
    }
}

.navbar-nav.search-mobile .search .dropdown-menu .input-group {
    width: 240px;
    right: 0;
}

@media (min-width: 480px) {
    .navbar-nav.search-mobile .search .search-icon {
        right: 70px;
    }

    .navbar-nav.search-mobile .search .dropdown-menu {
        right: 66px;
    }
}

@media (min-width: 768px) {
    .navbar-nav.search-mobile .search .search-icon {
        right: 70px;
    }

    .navbar-nav.search-mobile .search .dropdown-menu {
        right: 66px;
    }

    .navbar-nav.search-mobile .search .dropdown-menu .input-group {
        width: 300px;
    }
}

@media (min-width: 991px) {
    .navbar-nav.search-mobile .search {
        display: none;
    }
}
.navbar-toggleable-md > .container {
    width:80%;
    text-align: center;
}


@media (max-width: 768px) {
    .navbar-brand img{
      margin-bottom: 10px;
    }
    .navbar-toggleable-md > .container {
        width:100%;
    }
    .main-nav .navbar-nav .nav-item .nav-link {
        padding-left: 0px;
        padding-right: 09px;
        text-align: center;
        color:#fff;
    }

    .main-nav{
        padding-bottom: 0;
    }
    #navbarNavDropdown{
      background-color: #de7b26;
    }
}
